.elementor-editor-active {

	.elementor-widget-wd_single_product_visitor_counter {
		display: block !important;

		.elementor-widget-container {
			height: auto;
			margin: 0 !important;
			padding: 0 !important;
		}
	}
}