.elementor-editor-active {

	.wd-single-stock-status {
		display: block !important;

		.elementor-widget-container {
			height: auto;
			margin: 0 !important;
			padding: 0 !important;
		}

		// &:not(:has(.stock)) {
		// 	background-color: $elem-placeholder-bg-color;

		// 	&:before {
		// 		content: "";
		// 		line-height: 1;
		// 		display: block;
		// 		height: 24px;
		// 		width: 24px;
		// 		opacity: 0.5;
		// 		margin-top: -2px;
		// 		margin-bottom: -2px;
		// 		margin-left: auto;
		// 		margin-right: auto;
		// 		background-position: 0;
		// 		background-size: cover;
		// 		background-image: url(../../../../admin/assets/images/vc-icon/sp-icons/sp-stock-status.svg);
		// 	}
		// }

		// &.elementor-widget-empty {
		// 	background-color: transparent;
		// }

		// .elementor-widget-empty-icon {
		// 	background-color: $elem-placeholder-bg-color;
		// 	margin-bottom: 20px;
		// }
	}
}